@{
    ViewBag.Title = "Post";
}

<div class="c-h80vh">
    <div class="pre-post__cntr">
        <p class="c-font25px-header">Select Ad Type</p>
        <ul class="pre-post__list">
            <li class="pre-post__item"><a href="@Url.Action("JobPost", "Post")" class="pre-post__link fx-spc-btw pre-post__job-link">JOB POST<i class="ion-chevron-right"></i></a></li>
            <li class="pre-post__item"><a href="@Url.Action("SharePost", "Post")" class="pre-post__link fx-spc-btw pre-post__rent-link">SHARE POST<i class="ion-chevron-right"></i></a></li>
            <li class="pre-post__item"><a href="#" class="pre-post__link fx-spc-btw pre-post__secondhand-link">SECONHAND GOODS POST<i class="ion-chevron-right"></i></a></li>
        </ul>
    </div>
</div>