<div class="menu-bar">
    <div class="menu-bar__cntr">
        <div id="mobile-menu-btn" class="menu-bar__mb-menu-btn">Menu</div>
        <ul class="menu-bar__list">
            <li class="menu-bar__item"><a href="@Url.Action("JobAd", "Ad")" class="menu-bar__link"><i class="ion-briefcase menu-bar__icon"></i>JOB</a></li>
            <li class="menu-bar__item"><a href="#" class="menu-bar__link"><i class="ion-home menu-bar__icon"></i>SHARE</a></li>
            <li class="menu-bar__item"><a href="#" class="menu-bar__link"><i class="ion-arrow-swap menu-bar__icon"></i>SECONDHAND GOODS</a></li>
        </ul>
    </div>
</div>
