@model AussieLink.Contracts.ViewModels.ForgotPasswordVM

@{
    ViewBag.Title = "Reset Password";
}

<div class="c-h80vh">
    <div class="c-mx600px-cntr">
        <p class="c-font25px-header">Check your Email</p>
        <div class="forgot-pwd-cnfrm__body">
            <p>We've sent an email. Click the link in the email to reset your password.</p>
            <p>If you don't see the email, check other places it might be, like your junk, spam, social or other folders.</p>
        </div>
    </div>
</div>