
@{
    ViewBag.Title = "Home Page";
}

<section class="hp-board">
    <div class="hp-board__cntr">
        <div class="hp-board__search-box-cntr">

        </div>
    </div>
</section>

<section></section>