@model AussieLink.Contracts.ViewModels.AdViewModels.BaseAdPostVM

<header class="c-detail-page__header">
    <p class="c-detail-page__title">@Model.Title</p>
    <div class="c-detail-page__date-wraper fx">
        <span class="c-pd-mg-bd-r-10"><i class="ion-person c-mg-r-5"></i><a href="#" class="c-link">@Model.UerName</a></span>
        <span id="detail-page-date"><i class="ion-android-time c-mg-r-5"></i>@Model.DateCreated</span>
    </div>
</header>
