


<div class="c-mc__cntr fx fx-algn-start">
    <div class="c-mc__left"></div>

    <div class="c-mc__center fx-1">
        <div class="ad-detail-page-error__cntr">
            @Html.Partial("~/Views/Shared/_PageNotFoundError.cshtml")
        </div>
    </div>

    <div class="c-mc__right"></div>
</div>

