<div id="ad-list-no-result" class="ad-list__no-result">
    <div class="ad-list__icon-cntr">
        <img class="ad-list__no-result-icon" src="~/Content/Resources/Image/no-result-icon.png" />
    </div>
    <p class="ad-list__no-result-text">There is no result to display</p>
</div>
