<div class="signup__top fx">
    <img class="signup__logo-image" src="~/Content/Resources/Image/logo-blue.png" />
    <span class="signup__logo-letters">AUSSIE<span class="color-main-blue">LINK</span></span>
</div>
